<div class="row">
    <div class="col-12 col-md-12">
        <br />
        <h1 class="center">Прайс-лист</h1>
    </div>
</div>

<hr />


<div class="row verticalLine">
    <div class="col-12 col-md-3">
        <h1>Туапсе</h1>
        <p>Горячий тур в Туапсе!</p>
    </div>
    <div class="col-12 col-md-6"><img src="~/assets/img1.jpg" class="d-block w-100 img-size verticalLine" alt="..."><br></div>
    <div class="col-12 col-md-3"><h1>21'000 руб.</h1></div>
</div>
<br>
<div class="row verticalLine">
    <div class="col-12 col-md-3"><h1>Адлер</h1></div>
    <div class="col-12 col-md-6"><img src="~/assets/img2.jpg" class="d-block w-100 img-size verticalLine" alt="..."><br></div>
    <div class="col-12 col-md-3"><h1>26'000 руб.</h1></div>
</div>
<br>
<div class="row verticalLine">
    <div class="col-12 col-md-3"><h1>Сочи</h1></div>
    <div class="col-12 col-md-6"><img src="~/assets/img3.jpg" class="d-block w-100 img-size verticalLine" alt="..."><br></div>
    <div class="col-12 col-md-3"><h1>36'000 руб.</h1></div>
</div>
<br>
<div class="row verticalLine">
    <div class="col-12 col-md-3">
        <h1>Дивноморское</h1>
        <p>Горячий тур в Дивноморское!</p>
    </div>
    <div class="col-12 col-md-6"><img src="~/assets/divnomorskoe.jpg" class="d-block w-100 img-size verticalLine" alt="..."><br></div>
    <div class="col-12 col-md-3"><h1>24'000 руб.</h1></div>
</div>
<br>
<div class="row verticalLine">
    <div class="col-12 col-md-3"><h1>Джемете</h1></div>
    <div class="col-12 col-md-6"><img src="~/assets/djemete.jpg" class="d-block w-100 img-size verticalLine" alt="..."><br></div>
    <div class="col-12 col-md-3"><h1>28'000 руб.</h1></div>
</div>
<br>
<div class="row verticalLine">
    <div class="col-12 col-md-3"><h1>Лоо</h1></div>
    <div class="col-12 col-md-6"><img src="~/assets/loo_013.jpg" class="d-block w-100 img-size verticalLine" alt="..."><br></div>
    <div class="col-12 col-md-3"><h1>20'000 руб.</h1></div>
</div>
<br>
<hr />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Название</th>
            <th scope="col">Цена, руб.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                1
            </th>
            <td>Туапсе</td>
            <td>21000</td>
        </tr>
        <tr>
            <th scope="row">
                2
            </th>
            <td>Адлер</td>
            <td>26000</td>
        </tr>
        <tr>
            <th scope="row">
                3
            </th>
            <td>Сочи</td>
            <td>36000</td>
        </tr>
        <tr>
            <th scope="row">
                4
            </th>
            <td>Дивноморское</td>
            <td>24000</td>
        </tr>
        <tr>
            <th scope="row">
                5
            </th>
            <td>Джемете</td>
            <td>28000</td>
        </tr>
        <tr>
            <th scope="row">
                6
            </th>
            <td>Лоо</td>
            <td>20000</td>
        </tr>
    </tbody>
</table>
<br />